<h3>Выберите файл для загрузки:</h3>
    <form method="POST" action="{{ path('handle_upload_equipment') }}" enctype="multipart/form-data">
        <input class="input" type="file" name="file">
        <button type="submit" class="button">Загрузить</button>
    </form>