{% extends 'base.html.twig' %}

{% block title %}Direction index{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>Направления за которые вы отвечаете:</h1>
    {% for direction in directions %}
        <ol>
            <li>
                <a class="text-black" href="{{ path('app_direction_show', {'id': direction.id}) }}">{{ direction.Name }}</a>
            </li>
        </ol>
    {% else %}
        <p colspan="3">Нет направлений</p>

    {% endfor %}
{% endblock %}
