{% extends 'base.html.twig' %}

{% block title %}Hello HomeUserController!{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg bg-dark bg-gradient">
        <a class="navbar-brand me-md-auto ps-5 d-flex" href="#">
            <img src="../img/gallary.png" width="50 " height="50" class="d-inline-block align-top" alt="">
            <p class="my-auto ">MTO</p>
        </a>
        <a class="btn  btn-outline-primary text mx-3" href="" role="button">Мои направления</a>
        <a class='btn btn-outline-primary text mx-3' href="{{ path('app_logout') }} ">Выход</a>
    </nav>

{% endblock %}
