{% extends 'base.html.twig' %}

{% block title %}Добавление учебного плана{% endblock %}

{% block body %}
    {{ include('component/navbar.html.twig') }}
    <h1>Добавление нового учебного плана</h1>
    {{ include('exel/curriculumIndex.html.twig') }}
    <a href="{{ path('app_curriculum_index') }}">back to list</a>
{% endblock %}
