<form method="post"
      action="{{ path('app_schedule_delete_user',{ 'schedule': auditorium['schedule'], 'direction' : direction.id, 'curriculum': curriculum.id}) }}"
      onsubmit="return confirm('Вы уверены что хотите удалить аудиторию из расписания?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ auditorium['schedule']) }}">
    <p>{{ auditorium['auditorium'].Number }} - {{ auditorium['auditorium'].type }}
        <button class="btn btn-delete btn-circle btn-circle-sm m-1 bi bi-x">
        </button>


</form>
