
<form method="post" action="{{ path('app_schedule_description_new',{ 'direction' : direction.id, 'curriculum': curriculum.id, 'discipline' : discipline.id, 'auditorium' : auditorium['auditorium'].id}) }}">
        <input type="text" name="description">
        <button class="btn btn-primary" > Добавить описание
        </button>
</form>
