<tr>
    <th  class="tg-center text">№ п/п</th>
    <th class="tg-center">Наименование вида образования, уровня образования, профессии, специальности, направления
        подготовки (для профессионального образования), подвида дополнительного образования
    </th>
    <th class="tg-center">Наименование объекта, подтверждающего наличие материально-технического обеспечения, с перечнем
        основного оборудования
    </th>
    <th class="tg-center">Адрес (местоположение) объекта, подтверждающего наличие материально-технического обеспечения
        (с указанием номера такого объекта в соответствии с документами по технической инвентаризации)
    </th>
    <th class="tg-center">Собственность или оперативное управление, хозяйственное ведение, аренда (субаренда), безвозмездное
        пользование, практическая подготовка
    </th>
    <th class="tg-center">Документ-основание возникновения права (указываются реквизиты и сроки действия)</th>
    <th class="tg-center">Реквизиты заключения Государствен-ной инспекцией безопасности дорожного движения Министерства внутренних дел
        Российской Федерации о соответствии учебно-материальной базы установленным требованиям
    </th>
</tr>
<tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
</tr>