<td class="text-justify">398055,
    Российская Федерация, Липецкая область, городской округ город Липецк, г. Липецк,
    ул. Московская, д. 30
</td>
<td class="tg-center">Оперативное управление</td>
<td class="tg-center text-justify">Выписка из Единого государственного реестра недвижимости об основных характеристиках и
    зарегистрированных
    правах на объект недвижимости от 06.10.2020.
    Срок действия – бессрочно
</td>
<td class="">
    <p class="text-center">-</p>
</td>